<!DOCTYPE html>
<html lang="zh-cmn-hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="referrer" content="no-referrer"/>
    <meta name="theme-color" content="#{THEME_COLOR}">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <meta name="author" content="LancerComet">
    <meta name="baidu-site-verification" content="gIs5efZPwQ">
    <title id="app-title">漫画</title>
    <link rel="icon" type="image/png" href="__STATIC__/img/favicon.ico">
    <link href="__STATIC__/css/comic_style.css" rel="stylesheet" type="text/css"/>
    <link href="__MC__/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>