<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>选择影片</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <meta name="renderer" content="webkit" />
        <link href="__MC__/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="__MC__/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="__MC__/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="__MC__/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="__MC__/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <link href="__MC__/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="__MC__/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <link href="__MC__/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="__MC__/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
        <link href="__MC__/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
        <link href="__MC__/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
        <link href="__MC__/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
        <style>
            .pagination{
                margin: 0px;
                padding: 0px;
                float: left!important;
            }
            hr{margin:5px 0}
        </style>
    </head>
    <body>
        <div  class="container">
            <div class="row" style="margin-top: 15px;">
                <div class="col-xs-12">
                    <div class="portlet light portlet-fit portlet-form bordered">
                        <div class="portlet-title" style="padding: 8px 15px 0px;">
                            <div class="caption">
                                <span class="caption-subject font-dark sbold uppercase">渠道选择：</span>
                            </div>
                            <div class="actions col-xs-6">
                                <div class="btn-group btn-group-devided col-xs-12" data-toggle="buttons">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <input type="hidden" value='{$data}'    id='val'>
                                            <input type="text" id='nameId' placeholder="渠道名称或ID搜索"  class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn blue" id="submitID"type="button">搜索</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="form-body">
                                <span class="caption-subject font-red-sunglo bold uppercase">注：选择后必须点击“确定”按钮才会生效</span>
                                <div class="form-group form-md-radios">
                                    <form >
                                        
                                    <if condition='!empty($listin)'>
                                        <div class="form-group form-md-radios">
                                            <form >
                                                <div class="radio-list">
                                                    <volist name="listin" id="vo">
                                                        <label class="radio-inline " style="width:45%;margin-top: 10px;margin-left: 10px; padding-left: 20px;">
                                                             <input type="checkbox" class="check_movies"  name="optionsRadios"  data-title="{$vo.nick_name}" value="{$vo.id}" 
                                                               <if condition="in_array($vo['id'],$channelArr)">checked='checked'</if>>
                                                            <span>{$vo.id}: {$vo.nick_name}</span> 
                                                        </label>
                                                    </volist>

                                                </div>
                                            </form>
                                        </div>
                                    </if>
                                    <div class="form-group form-md-radios">
                                        <form >
                                            <div class="radio-list">
                                                <if condition='!empty($list)'>
                                                    <volist name="list" id="vo">
                                                        <label class="radio-inline " style="width:45%;margin-top: 10px;margin-left: 10px; padding-left: 20px;">
                                                            <input type="checkbox" class="check_movies"  name="optionsRadios" data-title="{$vo.nick_name}"   value="{$vo.id}" 
                                                               <if condition="in_array($vo['id'],$channelArr)">checked='checked'</if>>
                                                            <span>{$vo.id}: {$vo.nick_name}</span> 
                                                        </label>
                                                    </volist>
                                                    <else/>
                                                    没有找到
                                                </if>
                                            </div>
                                        </form>
                                    </div>
                           
                                    </form>
                                </div>
                            </div>
                            <div class="form-actions">
                                {$page}
                                <div class="col-md-3 right" style="float: right;">
                                        <button type="button" class="btn green" onclick="saveChannel(this)">保存</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
    <script src="__MC__/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="__JS__/layer/2.4/layer.js"></script>
    <script>
        $("#submitID").click(function () {
            var name = $('#nameId').val();
            var data = $('#val').val();
            window.location.href = '/Back/Public/selectChannel?name=' + name+'&val='+data;
        })

        $(".check_movies").each(function () {
            var id = $(this).val();
            for (x in parent.hot_movies_id_com) {
                if (parent.hot_movies_id_com[x] == id) {
                    $(this).attr('checked',true);
                }
            }
        })
        
        var callbackdata = function () {
            var type = 1;
            var str = '';
            var namev = '';

            for (x in parent.hot_movies_id_com) {
                str += parent.hot_movies_id_com[x]+',';
            }
            str = str.substring(0, str.lastIndexOf(','));
            namev = namev.substring(0, namev.lastIndexOf(','));
            var data = {
                type : type,
                name:namev,
                channel_id: str
            };
            return data;
        }
        
        $(".check_movies").click(function () {
            var checked = $(this).is(':checked');
            var id = $(this).val();
            if (checked == true) {
                parent.hot_movies_id_com.push($(this).val());
        
            } else {
                for (x in parent.hot_movies_id_com) {
                    if (parent.hot_movies_id_com[x] == id) {
                        parent.hot_movies_id_com.splice(x, 1);
                    }
                }
            }
        })
        
        
        
        function inputCheck(e){
            
            
            var id = $(e).data('id');
            if($(e).is(':checked') == false){
                $(".chila-"+id).parent().removeClass('checked');
                $(".chila-"+id).prop('checked',false); 
            }else{
                $(".chila-"+id).parent().addClass('checked');
                $(".chila-"+id).prop('checked',true);
            }
        }
        
        function saveChannel(){
            var str = '';
            for (x in parent.hot_movies_id_com) {
                str += parent.hot_movies_id_com[x]+',';
            }
            str = str.substring(0, str.lastIndexOf(','));
            $.ajax({
                type:'post',
                url:'{:U("Public/saveChannel")}',
                data:{'channel_id':str},
                success:function(res){
                 
                    layer.confirm(res.data, {
                        btn: ['关闭','取消'] //按钮
                      }, function(){
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                      }, function(){
                        
                    });
                },error:function(){
                    layer.alert('未知错误');
                }
            })
        }
    </script>
</html>
