<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>测试Vue 测试实例 - 菜鸟教程(runoob.com)</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            border: 0;
        }
    </style>
</head>
<body>
<div id="app">
    <img v-for="img in imgs" v-lazy="img">
    <img v-for="img in imgs" v-lazy:background-image="img">
</div>
<script src="__STATIC__/js/vue.js"></script>
<script src="__STATIC__/js/jquery.min.js"></script>
<script src="__STATIC__/js/vue-lazyload.js"></script>
<script>
    Vue.use(VueLazyload, {
        preLoad: 1.6,
        error: '__STATIC__/img/load-error.png',
        loading: '__STATIC__/img/loading.png',
        attempt: 2,
        listenEvents: ['scroll']
    });

    new Vue({
        el: '#app',
        data: {
            imgs: []
        },
        methods: {},
        mounted: function () {
            var vue_this = this;
            //获取数据
            $.get("{:U('Index/getImg')}", {id: 2}, function (res) {
                console.log(res);
                if (res.code == 200) {
                    vue_this.imgs = res.data;
                } else {
                    layer.alert('请刷新重试');
                }
                $(".app-loading").hide();
            });
        }
    })
</script>
</body>
</html>