<!DOCTYPE html>
<html lang="zh-cmn-hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="referrer" content="no-referrer"/>
    <meta name="theme-color" content="#{THEME_COLOR}">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <meta name="author" content="LancerComet">
    <meta name="baidu-site-verification" content="gIs5efZPwQ">
    <title id="app-title">漫画</title>
    <link rel="icon" type="image/png" href="__STATIC__/img/logo.png">
    <link href="__STATIC__/css/comic_style.css" rel="stylesheet" type="text/css"/>
    <link href="__MC__/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="manga-mobile-app">
    <div class="category-list">
        <div class="classify-list-container border-box">
            <div class="label-list m-auto border-box p-relative">
                <div class="label-row">
                    <div class="first-label dp-i-block v-top">
                        <div class="classify-label selected">全部</div>
                    </div>
                    <div class="classify-label">小说</div>
                    <div class="classify-label">漫画</div>
                </div>
                <div class="label-row">
                    <div class="first-label dp-i-block v-top">
                        <div class="classify-label selected">全部</div>
                    </div>
                    <div class="classify-label">冒险</div>
                    <div class="classify-label">欢乐向</div>
                    <div class="classify-label">轻小说</div>
                    <div class="classify-label">其他</div>
                    <div class="classify-label">励志</div>
                    <div class="classify-label">风傲天</div>
                    <div class="classify-label">游戏</div>
                    <div class="classify-label">异世界</div>
                </div>
                <div class="switch-btn p-absolute pointer">
                    <span class="icon v-middle dp-i-block icon-down"></span>
                    <span class="v-middle">筛选</span>
                </div>
            </div>
            <div class="manga-list m-auto">
                <div class="list-data border-box m-auto" id="app">
                    <a v-for="(item,index) in list" v-bind:href='"/Home/Index/article?id="+item.id'
                       v-bind:title="item.name" class="manga-card border-box dp-i-block">
                        <div class="manga-cover bg-cover bg-center">
                            <img v-lazy="item.cover" style='height:120px;' v-if="item.cover" width="100%">
                            <img src="__IMAGE__/cover.jpg" style='height:120px;' v-else>
                        </div>
                        <div class="manga-title">{{item.name}}</div>
                        <div class="manga-info"><span>共{{item.total_chapters}}话</span></div>
                    </a>
                </div>
            </div>
            <div class='col-lg-12' v-html="page"></div>
            <div class="label-list m-auto border-box p-relative">
                <div class="label-row" style=" text-align: center;font-size: 18px;font-weight: bold; padding-top: 0px;">
                    <div class="first-label dp-i-block v-top">
                        <div class="classify-label selected">页码：</div>
                    </div>
                    <div class="first-label dp-i-block v-top">
                        <div class="classify-label selected" id="pp">1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="__STATIC__/js/vue.js"></script>
<script src="__STATIC__/js/jquery.min.js"></script>
<script src="__STATIC__/js/vue-lazyload.js"></script>
<script>
    Vue.use(VueLazyload, {
        preLoad: 1.6,
        error: '__STATIC__/img/load-error.png',
        loading: '__STATIC__/img/loading.png',
        attempt: 2,
        listenEvents: ['scroll']
    });

    var app = new Vue({
        el: '#app',
        data: {
            'list': [],
            'search_data': {
                'p': "{$Think.get.p}",
                'author_name': '',
                'tags': ''
            },
        },
        methods: {},
        mounted: function () {
            var vue_this = this;
            var p = vue_this.search_data.p;
            //获取数据
            $.get("{:U('Index/getMoviesData')}", {p: p}, function (res) {
                if (res.code == 200) {
                    vue_this.list = res.data.data;
                    vue_this.page = res.data.page;
                } else {
                    layer.alert('请刷新重试');
                }
                $(".app-loading").hide();
            });
        }
    });

    /**
     * 刷新页面数据
     * @param {type} page
     * @returns {undefined}
     */
    function getData(page) {
        $(".app-loading").show();
        var vue_this = app._data;
        var data = vue_this.search_data;
        data.p = page;
        $.get("{:U('Index/getMoviesData')}", data, function (res) {
            if (res.code == 200) {
                vue_this.list = res.data.data;
                vue_this.page = res.data.page;
            } else {
                layer.alert('请刷新重试');
            }
            $(".app-loading").hide();
        });
        document.body.scrollTop = document.documentElement.scrollTop = 0;
    }

    $('#pp').on('click', function () {
        var page = parseInt($('#pp').text()) + 1;
        getData(page);
        $('#pp').text(page)
    })
</script>
</html>