<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <style>
        * {
            padding: 0;
            margin: 0;
            border: 0;
        }
    </style>
</head>
<body>
<div id="app">
    <img v-for="img in imgs" v-lazy="img" width="100%">
    <img v-for="img in imgs" v-lazy:background-image="img">
</div>
<script src="__STATIC__/js/vue.js"></script>
<script src="__STATIC__/js/jquery.min.js"></script>
<script src="__STATIC__/js/vue-lazyload.js"></script>
<script>
    Vue.use(VueLazyload, {
        preLoad: 1.6,
        error: '__IMAGE__/load-error.png',
        loading: '__IMAGE__/loading.png',
        attempt: 2,
        listenEvents: ['scroll']
    });

    new Vue({
        el: '#app',
        data: {
            imgs: [],
            'search_data': {
                'id': "{$Think.get.id}",
                'author_name': '',
                'tags': ''
            },
        },
        methods: {},
        mounted: function () {
            var vue_this = this;
            //获取数据
                $.get("{:U('Index/getImg')}", {id: vue_this.search_data.id}, function (res) {
                console.log(res);
                if (res.code == 200) {
                    vue_this.imgs = res.data;
                } else {
                    layer.alert('请刷新重试');
                }
                $(".app-loading").hide();
            });
        }
    })
</script>
</body>
</html>