

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小集说在线阅读小说精选页面模板</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link href="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<section class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed">
        <a href="javascript:;" class="aui-navBar-item">
            <i class="icon "></i>
        </a>
        <div class="aui-center">
			<span class="aui-center-title">
				<img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/logo.png" alt="">
			</span>
        </div>
        <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-sys"></i>
        </a>
    </header>
    <section class="aui-scrollView">
        <div class="aui-search-box">
            <i class="icon icon-search"></i>
            <input type="text" placeholder="李振亚生活记全集完结">
        </div>
        <div class="aui-flex aui-flex-one">
            <a href="javascript:;" class="aui-flex-box active">出版</a>
            <a href="javascript:;" class="aui-flex-box">独家</a>
            <a href="javascript:;" class="aui-flex-box">男生</a>
            <a href="javascript:;" class="aui-flex-box">女生</a>
        </div>

        <div class="m-slider" data-ydui-slider>
            <div class="slider-wrapper">
                <div class="slider-item">
                    <a href="javascript:;">
                        <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/banner.png" alt="">
                    </a>
                </div>
                <div class="slider-item">
                    <a href="javascript:;">
                        <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/banner.png" alt="">
                    </a>
                </div>
                <div class="slider-item">
                    <a href="javascript:;">
                        <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/banner.png" alt="">
                    </a>
                </div>
                <div class="slider-item">
                    <a href="javascript:;">
                        <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/banner.png" alt="">
                    </a>
                </div>
                <div class="slider-item">
                    <a href="javascript:;">
                        <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/banner.png" alt="">
                    </a>
                </div>
            </div>
            <div class="slider-pagination"></div>
        </div>
        <div class="aui-palace aui-palace-one">
            <a href="javascript:;" class="aui-palace-grid">
                <div class="aui-palace-grid-icon">
                    <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/nav-001.png" alt="">
                </div>
                <div class="aui-palace-grid-text">
                    <h2>排行</h2>
                </div>
            </a>
            <a href="javascript:;" class="aui-palace-grid">
                <div class="aui-palace-grid-icon">
                    <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/nav-002.png" alt="">
                </div>
                <div class="aui-palace-grid-text">
                    <h2>新书</h2>
                </div>
            </a>
            <a href="javascript:;" class="aui-palace-grid">
                <div class="aui-palace-grid-icon">
                    <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/nav-003.png" alt="">
                </div>
                <div class="aui-palace-grid-text">
                    <h2>免费</h2>
                </div>
            </a>
            <a href="javascript:;" class="aui-palace-grid">
                <div class="aui-palace-grid-icon">
                    <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/nav-004.png" alt="">
                </div>
                <div class="aui-palace-grid-text">
                    <h2>福利</h2>
                </div>
            </a>
        </div>
        <div class="divHeight"></div>
        <div class="aui-flex">
            <div class="aui-flex-box">
                <h1>重磅推荐</h1>
            </div>
        </div>
        <div class="aui-book-list">
            <a href="javascript:;" class="aui-flex">
                <div class="aui-book-img">
                    <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/ad-001.png" alt="">
                </div>
                <div class="aui-flex-box">
                    <h2>宸汐缘</h2>
                    <p>《文化苦旅》是于秋生的第一个散文集所有的作品主要包括了俩部分一部分是历史文学</p>
                    <h3>胡说</h3>
                    <span>
						<em>影视原著</em>
						<em>古装</em>
					</span>
                </div>
            </a>
        </div>
        <div class="aui-list-theme-box">
            <a href="javascript:;" class="aui-list-item">
                <div class="aui-list-theme-img">
                    <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/ad-002.png" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">对你不值是循环</h3>
                    <p>领英</p>
                </div>
            </a>
            <a href="javascript:;" class="aui-list-item">
                <div class="aui-list-theme-img">
                    <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/ad-003.png" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">神奇波澜还龙珠</h3>
                    <p>嘉桦</p>
                </div>
            </a>
            <a href="javascript:;" class="aui-list-item">
                <div class="aui-list-theme-img">
                    <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/ad-004.png" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">京城四大名医</h3>
                    <p>嘉桦</p>
                </div>
            </a>
        </div>
        <div class="divHeight"></div>
        <div class="aui-flex">
            <div class="aui-flex-box">
                <h1>畅销精品</h1>
            </div>
        </div>
        <div class="aui-book-list">
            <a href="javascript:;" class="aui-flex b-line">
                <div class="aui-book-img">
                    <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/ad-005.png" alt="">
                </div>
                <div class="aui-flex-box">
                    <h2>宸汐缘</h2>
                    <p>《文化苦旅》是于秋生的第一个散文集所有的作品主要包括了俩部分一部分是历史文学</p>
                    <h3>胡说</h3>
                    <span>
						<em>影视原著</em>
						<em>古装</em>
					</span>
                </div>
            </a>
            <a href="javascript:;" class="aui-flex b-line">
                <div class="aui-book-img">
                    <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/ad-006.png" alt="">
                </div>
                <div class="aui-flex-box">
                    <h2>宸汐缘</h2>
                    <p>《文化苦旅》是于秋生的第一个散文集所有的作品主要包括了俩部分一部分是历史文学</p>
                    <h3>胡说</h3>
                    <span>
						<em>影视原著</em>
						<em>古装</em>
					</span>
                </div>
            </a>
            <a href="javascript:;" class="aui-flex b-line">
                <div class="aui-book-img">
                    <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/ad-007.png" alt="">
                </div>
                <div class="aui-flex-box">
                    <h2>宸汐缘</h2>
                    <p>《文化苦旅》是于秋生的第一个散文集所有的作品主要包括了俩部分一部分是历史文学</p>
                    <h3>胡说</h3>
                    <span>
						<em>影视原著</em>
						<em>古装</em>
					</span>
                </div>
            </a>
            <div class="aui-more-text">更多畅销精品 > </div>
        </div>
        <div class="divHeight"></div>
        <div class="aui-flex">
            <div class="aui-flex-box">
                <h1>3日免费</h1>
            </div>
        </div>
        <div class="aui-list-theme-box">
            <a href="javascript:;" class="aui-list-item">
                <div class="aui-list-theme-img">
                    <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/ad-008.png" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">对你不值是循环</h3>
                    <p>领英</p>
                </div>
            </a>
            <a href="javascript:;" class="aui-list-item">
                <div class="aui-list-theme-img">
                    <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/ad-009.png" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">神奇波澜还龙珠</h3>
                    <p>嘉桦</p>
                </div>
            </a>
            <a href="javascript:;" class="aui-list-item">
                <div class="aui-list-theme-img">
                    <img src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/images/ad-010.png" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title">京城四大名医</h3>
                    <p>嘉桦</p>
                </div>
            </a>
            <div class="aui-more-text">更多畅销精品 > </div>
        </div>
        <div class="divHeight"></div>

    </section>
    <footer class="aui-footer aui-footer-fixed">
        <a href="javascript:;" class="aui-tabBar-item ">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-loan"></i>
                </span>
            <span class="aui-tabBar-item-text">书城</span>
        </a>
        <a href="javascript:;" class="aui-tabBar-item aui-tabBar-item-active">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-credit"></i>
                </span>
            <span class="aui-tabBar-item-text">分类</span>
        </a>
        <a href="javascript:;" class="aui-tabBar-item ">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-ions"></i>
                </span>
            <span class="aui-tabBar-item-text">书架</span>
        </a>
        <a href="javascript:;" class="aui-tabBar-item ">
                <span class="aui-tabBar-item-icon">
                    <i class="icon icon-info"></i>
                </span>
            <span class="aui-tabBar-item-text">我的</span>
        </a>
    </footer>
</section>
</body>

<script type="text/javascript" src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/js/jquery.min.js"></script>
<script type="text/javascript" src="https://www.17sucai.com/preview/1527619/2019-09-12/A-Novel/js/slider.js"></script>
</html>
