<extend name="Public/admin"/>
<block name="style">
    <link href="__MC__/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"
          type="text/css"/>
    <style>
        table td {
            vertical-align: middle !important;
        }
    </style>
</block>
<block name="content">
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-12 text-right">
            <form action="{:U('SeekMovies/index')}" role="form" method="get" id='search_model' class="form-inline">
                <div class="portlet-title">
                    <div class="actions btn-set">
                        <div class="input-group  date-picker input-daterange">
                            <select class='form-control input-sm' name='orderName'>
                                <option value=''>全部</option>
                                <option value='0'>已下载</option>
                                <option value='1'>未下载</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-sm blue table-group-action-submit">搜索</button>
                        <button type="button" onclick="Reset()" class="btn btn-sm blue table-group-action-submit">重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12 col-sm-12">
            <table class="table table-bordered table-striped table-condensed flip-content">
                <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">链接</th>
                    <th class="text-center">名称</th>
                    <th class="text-center">是否已下载</th>
                    <th class="text-center">封面预览</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="list" id="vo">
                    <tr>
                        <td class="text-center">{$vo.id}</td>
                        <td class="text-center">
                            <a href='https://18comic.life/{$vo.link}' target='blank'>{$vo.link}</a>
                        </td>
                        <td class="text-center">{$vo.name}</td>
                        <td class="text-center">
                            <if condition="$vo['is_download']">
                                是
                                <else/>
                                否
                            </if>
                        </td>
                        <td class="text-center">
                            <img src="{$vo.cover}" width="50%"/>
                        </td>
                        <td>
                            <if condition="$vo['is_download']">
                                <button class="btn blue">已下载</button>
                                <else/>
                                <button class="btn green show" data-id="{$vo.c_id}">未下载</button>
                            </if>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
            {$page}
        </div>
    </div>
</block>
<block name="script">
    <script src="__JS__/layer/2.4/layer.js"></script>
</block>