<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>支付信息</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <meta name="renderer" content="webkit" />
        <link rel="icon" sizes="any" mask="" href="__MC__/apps/img/logo.png">
        <link href="__MC__/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="__MC__/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="__MC__/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="__MC__/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="__MC__/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->

        <!-- BEGIN PAGE LEVEL PLUGINS  页面样式-->
        <style>
            .text-middle{
                vertical-align: middle !important;
            }
            .page-content .row .col-md-12{overflow: auto;}
        </style>
    <block name="style"> </block>
    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN THEME GLOBAL STYLES 全局主题样式-->
    <link href="__MC__/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="__MC__/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->

    <!-- BEGIN THEME LAYOUT STYLES  主题布局样式-->
    <link href="__MC__/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="__MC__/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="__MC__/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="__MC__/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="__MC__/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
    <link href="__MC__/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <style type="text/css">
        /*.page-content{overflow: scroll !important;}*/
    </style>
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white" style="background: #fff;">
        <form class="form-horizontal" role="form" id="upAccountForm">
            <input type="hidden" name="author_id" value="{$id}">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet-body form">
                            <div class="form-body">
                                <div class="form-group form-md-checkboxes has-default">
                                    <label class="col-md-3 control-label" for="form_control_2">提款方式</label>
                                    <div class="col-md-7">
                                        <div class="md-checkbox-inline">
                                            <div class="md-radio-inline">
                                                <div class="md-radio" id="radios1">
                                                    <input type="radio" id="checkbox2_11" name="draw_way" class="md-radiobtn checkbox-account" value="1" checked required>
                                                    <label for="checkbox2_11">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>支付宝</label>
                                                </div>
                                                <div class="md-radio" id="radios2">
                                                    <input type="radio" id="checkbox2_12" name="draw_way" class="md-radiobtn checkbox-account" value="2" required>
                                                    <label for="checkbox2_12">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> 微信
                                                    </label>
                                                </div>
                                                <div class="md-radio" id="radios3">
                                                    <input type="radio" id="checkbox2_13" name="draw_way" class="md-radiobtn checkbox-account" value="3" required>
                                                    <label for="checkbox2_13">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> 银行卡
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-account">
                                    <div id="tab1">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">支付宝帐号</label>
                                            <div class="col-md-9">
                                                <input type="text" name="zfb_number" value="{$authorAccount['zfb_number']}" class="form-control" placeholder="支付宝帐号" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">姓名</label>
                                            <div class="col-md-9">
                                                <input type="text" name="zfb_name" placeholder="姓名" class="form-control" value="{$authorAccount['zfb_name']}">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab2" style="display:none">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">微信号</label>
                                            <div class="col-md-9">
                                                <input type="text" name="wx_number" placeholder="微信号" class="form-control" value="{$authorAccount['wx_number']}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">微信名</label>
                                            <div class="col-md-9">
                                                <input type="text" name="wx_name" placeholder="微信名" class="form-control" value="{$authorAccount['wx_name']}">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab3" style="display:none">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">银行名称</label>
                                            <div class="col-md-9">
                                                <input type="text" name="yh_name" placeholder="银行名称" class="form-control" value="{$authorAccount['yh_name']}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">开户行</label>
                                            <div class="col-md-9">
                                                <input type="text" name="khh_name" placeholder="开户行名称" class="form-control" value="{$authorAccount['khh_name']}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">开户所在地</label>
                                            <div class="col-md-9">
                                                <select name="province" id="province" class="form-control" v-model="province" style="width: 30%;display: inline-block"></select>
                                                <select name="city" id="city" class="form-control" v-model="city" style="width: 30%;display: inline-block"></select>
                                                <select name="country" id="country" class="form-control" v-model="country" style="width: 30%;display: inline-block"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">详细地址</label>
                                            <div class="col-md-9">
                                                <input type="text" name="yh_address" placeholder="开户行详细地址" class="form-control" value="{$authorAccount['yh_address']}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">银行卡号</label>
                                            <div class="col-md-9">
                                                <input type="text" name="yh_card" placeholder="银行卡号" class="form-control" value="{$authorAccount['yh_card']}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">银行预留手机号</label>
                                            <div class="col-md-9">
                                                <input type="text" name="yh_tel" placeholder="银行预留手机号" class="form-control" value="{$authorAccount['yh_tel']}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border: 0;text-align: -webkit-auto;">
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                            <button type="button" class="btn green" id="sub_accounts">提交</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </body>
    <!--账户信息-->

    <!--[if lt IE 9]>
    
    <script src="__MC__/global/plugins/respond.min.js"></script>
    
    <script src="__MC__/global/plugins/excanvas.min.js"></script>
    
    <![endif]-->

    <!--[if lt IE 9]>

    <script src="__MC__/global/plugins/respond.min.js"></script>

    <script src="__MC__/global/plugins/excanvas.min.js"></script>

    <![endif]-->

    <!-- BEGIN CORE PLUGINS 核心插件-->
    <script src="__MC__/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="__MC__/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL PLUGINS 页面插件-->
    <block name="script">

    </block>
    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN THEME GLOBAL SCRIPTS 全局脚本-->
    <script src="__MC__/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->

    <!-- BEGIN THEME LAYOUT SCRIPTS 主题布局脚本-->
    <script src="__MC__/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="__MC__/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="__MC__/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <script src="__JS__/layer/2.4/layer.js"></script>
    <script src="/Public/js/region_select.js"></script>
    <script>



        $(function () {
            if (typeof Cookies !== "undefined") {
                setColor(Cookies.get('layout-theme'));
            }
            $('.theme-colors > ul > li').click(function () {
                var color = $(this).attr("data-style");
                setColor(color);
                $('ul > li').removeClass("current");
                $(this).addClass("current");
            });
        })


        var province = "{$authorAccount.province}" ? "{$authorAccount.province}" : '广东省';
        var city = "{$authorAccount.city}" ? "{$authorAccount.city}" : '';
        var country = "{$authorAccount.country}" ? "{$authorAccount.country}" : '';
        if ($("#province").length) {
            new PCAS('province', 'city', 'country', province, city, country);
        }
        $("#radios" + "{$authorAccount.draw_way}").find(":radio").prop('checked', true);
        $("#tab" + "{$authorAccount.draw_way}").css("display", "block").siblings().css("display", "none");

        $(function () {
            if (typeof Cookies !== "undefined") {
                setColor(Cookies.get('layout-theme'));
            }
            $('.theme-colors > ul > li').click(function () {
                var color = $(this).attr("data-style");
                setColor(color);
                $('ul > li').removeClass("current");
                $(this).addClass("current");
            });


            $('body').on('click', '#updateAccount', function () {
                $('#account_info').modal();
            })

            $("body").on("click", ".checkbox-account", function () {
                var tabId = $(this).val();
                $("#tab" + tabId).css("display", "block").siblings().css("display", "none");
            })

            $('body').on('click', '#update', function () {
                $('#responsive').modal();
            })

        })


        $("body").on("click", "#sub_accounts", function () {
            var index = layer.confirm('确定提交？', {
                btn: ['是', '否'] //按钮
            }, function () {
                var serialize = $("#upAccountForm").serialize();
                $.ajax({
                    type: "post",
                    url: "{:U('Author/editAccounts')}",
                    data: serialize,
                    dataType: 'json',
                    success: function (res) {
                        if (res.code == 1) {
                            layer.msg('账户信息完善成功');
                            $('#account_info').modal("hide");
                        }
                    },
                    error: function () {}
                })
                layer.close(index);
            }, function () {
                layer.close(index);
            });

        })

    </script>
</body>
</html>
