<div id="edit_popup" class="modal fade" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form-horizontal" role="form" action="{:U('Novel/chapterEdit')}" method="post"
                  enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">修改章节</h4>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-group">
                            <label for="title" class="col-md-3 control-label">标题</label>
                            <div class="col-md-7">
                                <input type="text" required class="form-control" placeholder="请输入标题" name="name"
                                       id="title">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="price" class="col-md-3 control-label">价格</label>
                            <div class="col-md-7">
                                <input type="number" value='40' required class="form-control" placeholder="请输入价格"
                                       name="price" id="price" pattern="^[1-9]\d*|0$">
                                <p class="help-block"> 漫画若为整本收费，章节价格无效</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status" class="col-md-3 control-label">状态</label>
                            <div class="col-md-7">
                                <select class="form-control" name="status" id="status">
                                    <option value="0">下架</option>
                                    <option value="1">上架</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="chapter_id" class="col-md-3 control-label">选择章节</label>
                            <div class="col-md-7">
                                <select class="form-control" name="chapter_id" id="chapter_id">
                                    <volist name='chapter' id='ch'>

                                        <option value='{$ch.id}'>{$ch.name}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="chapter_id" class="col-md-3 control-label">插入位置</label>
                            <div class="col-md-7">
                                <div class="radio-list">
                                    <label class="radio-inline">
                                        <input name="before_or_after" id="attention1" value="1" type="radio">
                                        插入章节前
                                    </label>
                                    <label class="radio-inline">
                                        <input name="before_or_after" id="attention2" value="2" type="radio" checked>
                                        插入章节后
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input value='{$movies_id}' type='hidden' required name="movies_id">
                    <input value='' type='hidden' required name="id">
                    <input value='' type='hidden' required name="sortrank">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn green" id="confirm">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>